extends layout

block content
  h1= title
  p Welcome to #{title}
  h2
    a(href='/whoami') whoami api
  p
    strong User Story:
  p A user can get their IP address, language and operating system for my browser.
